// HEADER
nav.navbar.navbar-default.navbar-fixed-top
  .brand
    a(href='index.html')
      img.img-responsive.logo(src='assets/img/logo-scrum.png' alt='Klorofil Logo')
  .container-fluid
    .navbar-btn
      button.btn-toggle-fullwidth(type='button')
        i.lnr.lnr-arrow-left-circle
    #navbar-menu
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            img.img-circle(src='assets/img/user.png' alt='Avatar')
            span Chito
            i.icon-submenu.lnr.lnr-chevron-down
          ul.dropdown-menu
            li
              a(href='#')
                i.lnr.lnr-user
                span My Profile
            li
              a(href='#')
                i.lnr.lnr-exit
                span Logout
