// LEFT SIDEBAR
#sidebar-nav.sidebar
  .sidebar-scroll
    nav
      ul.nav
        li
          a.active(href='index.html')
            i.lnr.lnr-home
            span Home
        li
          a.collapsed(href='#subProjects' data-toggle='collapse')
            i.lnr.lnr-layers
            span Projects
            i.icon-submenu.lnr.lnr-chevron-left
          #subProjects.collapse
            ul.nav
              li
                a(href='#') New Project
              li
                a(href='#') Projects
        li
          a.collapsed(href='#subStories' data-toggle='collapse')
            i.lnr.lnr-file-empty
            span Stories
            i.icon-submenu.lnr.lnr-chevron-left
          #subStories.collapse
            ul.nav
              li
                a(href='#') New Story
              li
                a(href='#') Stories
        li
          a.collapsed(href='#subAbilities' data-toggle='collapse')
            i.lnr.lnr-rocket
            span Abilities
            i.icon-submenu.lnr.lnr-chevron-left
          #subAbilities.collapse
            ul.nav
              li
                a(href='#') New Ability
              li
                a(href='#') Abilities
        li
          a.collapsed(href='#subUsers' data-toggle='collapse')
            i.lnr.lnr-user
            span Users
            i.icon-submenu.lnr.lnr-chevron-left
          #subUsers.collapse
            ul.nav
              li
                a(href='#') New User
              li
                a(href='#') Users
